@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');




body{
      font-family: "Manrope", sans-serif;
}

.login-forms{
    @apply bg-zinc-50 px-5 py-10 rounded-2xl flex flex-col gap-4 shadow-xl shadow-zinc-400 mx-auto;
}

.text-input{
    @apply border-b-2  p-1;
}